body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-image: url(img/monolit_rock.jpg);
  background-size: cover;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
header {
  color: rgb(255, 255, 255);
}
.monolit {
  margin-bottom: 1rem;
  font-size: 4rem;
}
.range {
  margin-top: 0;
}
@media screen and (max-width: 640px) {
  header {
    font-size: 0.5rem;
  }
  .monolit {
    font-size: 2rem;
  }
  h4 {
    margin-top: 2rem;
  }
}

main {
  background-color: rgba(211, 211, 211, 0.7);
  color: rgb(68, 68, 55);
}
hr {
  width: 50%;
}
@media screen and (min-width: 991px) {
  hr {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .about_us hr {
    display: none;
  }
}
@media screen and (min-width: 640px) {
  .hr_time {
    display: none;
  }
}
li {
  list-style-type: none;
  line-height: 1.4;
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.about_us {
  background-color: rgba(43, 36, 36, 0.7);
  color: rgb(255, 255, 255);
}
.contacts {
  margin-bottom: 0;
}
.adress {
  display: none;
}
@media screen and (max-width: 640px) {
  .adress {
    display: block;
  }
}
footer {
  margin-top: 2rem;
}